<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <!--^ this is how we include partials  -->
        <!--^ header partial -->
        <%- include('_header'); %>
        <h1>this is our home page codeial/ <%= title%></h1>
        <!--^ footer partial -->
        <%- include('_footer'); %>
    </body>
</html>