<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <!--^ this is how we include partials  -->
        <!--^ header partial -->
        <%- include('_header'); %>
        <h1>
            codeial / profile page
        </h1>
        <!--^ footer partial -->
        <%- include('_footer'); %>
    </body>
</html>